*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Arial, Helvetica, sans-serif;
}

body{
  line-height:1.6;
}

header{
  background:#111;
  padding:15px 50px;
  position:fixed;
  width:100%;
  top:0;
  z-index:1000;
}

nav{
  display:flex;
  justify-content:space-between;
  align-items:center;
}

nav h1{
  color:white;
}

nav ul{
  display:flex;
  list-style:none;
}

nav ul li{
  margin-left:20px;
}

nav ul li a{
  color:white;
  text-decoration:none;
}

.hero{
  height:100vh;
  background:url('main.jpg');
  display:flex;
  justify-content:center;
  align-items:center;
  text-align:center;
  color:white;
}

.hero-text h2{
  font-size:60px;
  
}

.hero-text p{
  font-size:22px;
  margin:20px 0;
}

.btn{
  background:#f4b400;
  color:white;
  padding:12px 30px;
  text-decoration:none;
  border-radius:5px;
}

.rooms{
  padding:100px 50px;
  text-align:center;
}

.room-container{
  display:flex;
  gap:20px;
  margin-top:40px;
  flex-wrap:wrap;
  justify-content:center;
}

.room-card{
  width:300px;
  box-shadow:0 5px 10px rgba(0,0,0,0.2);
  border-radius:10px;
  overflow:hidden;
}

.room-card img{
  width:100%;
  height:200px;
  object-fit:cover;
}

.room-card h3{
  margin:15px 0;
}

.about{
  background:#f4f4f4;
  padding:80px 50px;
  text-align:center;
}

.booking{
  padding:100px 50px; 
  background: url('room3.jpg');
}

.booking h1{
  text-align:center;
  margin-bottom:30px; 
  font-size:50px; 
  color: gold;
}

.booking form{
  max-width:600px;
  margin:auto;
  display:flex;
  flex-direction:column;
}

.booking input,
.booking select,
.booking textarea{
  padding:15px;
  margin-bottom:15px;
  border:1px solid #ccc;
  border-radius:5px;
}

.booking button{
  padding:15px;
  border:none;
  background:#111;
  color:white;
  font-size:18px;
  cursor:pointer;
}

footer{
  background:#111;
  color:white;
  text-align:center;
  padding:20px;
}

@media(max-width:768px){

  nav{
    flex-direction:column;
  }

  .hero-text h2{
    font-size:40px;
  }

} 
label{
  font-size: 15px; 
  color: gold;
}